 <div class="ui block inverted header" id="white">
    <%= link_to charts_path do%>
<h1>BillBoards</h2>
    <% end %>
    </div>
<div class="banner">
<img src="https://loremflickr.com/1020/240/<%= @chart.genre %>?lock=11" />
<h1 class="centered"><%= @chart.name %></h1>
<div class="ui divider"></div>
</div>
<table class="ui inverted single line table">
<tbody>
<% @artists.each do |artist| %>
<% artist.songs.each do |song| %>
<% @genres = [song[:genre].gsub(" ", "").split(",")] %>
<% @genres.flatten! %>
<% @genres.each do |genre| %>
<% if genre == @chart[:genre] %>
<tr>
<td class="right aligned">
 <%= link_to artist_path(artist) do %>
<img class="ui medium avatar image" src="https://loremflickr.com/420/240/band,music?lock=<%= artist.id + 10 %>" />
<% end%>
</td>
<td>
<h2><%= song.name%></h2>
<h4 class="description"><%=link_to artist.name, artist_path(artist) %></h4>
<audio src="/audios/rickroll.mp3" type="audio/mpeg" controls>
Your Browers Doesnt Support Audio Files
</audio>
</td>
</tr>
  <% else %>
<% end%>
<% end%>
<% end %>
<% end%>
</tbody>
</table>